.main-nav .nav-item {
  position: relative;
}

.main-nav .badge {
  position: absolute;
  top: 2px;
  right: -5px;
  background: #D4191F;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  text-align: center;
  font-size: 19px;
  font-family: 'museo';
}

@media (max-width: 767px) {
  .main-nav .badge {
    left: -2px;
    right: auto;
  }
}